.card-right{
    background-color: yellow;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .ul-right{
    border:2px solid black;
    display:flex;
    background-color: black;
    list-style-type: none;
    justify-content: space-between;
    padding :5px;
    border-radius: 8px;
    width: 50%;
    flex-grow: 2;
  }

  .right-ul-li{
    border-radius:8px;
    background-color: gray;
    padding:2px;
    color:white;
    font-size: 15px;
    
  }

  .right-ul2-li{
    border-radius:8px;
    background-color: gray;
    padding:2px;
    color:white;
    font-size: 15px;
    
  }
  .right-card-1{
    background-color: gray;
    flex-grow: 1;
    margin: 2rem;
    border-radius: 8px;
  }
  .right-card-2{
    background-color: gray;
    flex-grow: 1;
    margin: 2rem;
    border-radius: 8px;
  }

  .right-card-1-top{
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding:10px;
  }
  .q-icon{
    flex-grow: 1;
  }